{{#each list}}
      <div class="col-xs-3 text-center" style="background-color: orange">
        <h2>{{this.name}}</h2>
        <p>Category: {{this.category}}</p>
        <hp>Type: {{this.type}}</p>
        <img height="100px" src="{{this.image}}">
        <p>Movie: {{this.movie}}</p>
      </div>
{{/each}}

